<div class="wrapper">
  <div *ngIf="!load; else loadBlock">
    <div class="bodies">
      <img src="assets/login.png" alt="" class="logo">
      <h1> Login</h1>
    </div> 
    <form (ngSubmit)="registrar()" [formGroup]="regitrarUsuario">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"
          formControlName="email">
          <samp *ngIf="regitrarUsuario.get('email')?.hasError('required') && regitrarUsuario.get('email')?.touched" class="text-danger">email requerido</samp>
          <samp *ngIf="regitrarUsuario.get('email')?.hasError('email') && regitrarUsuario.get('email')?.touched" class="text-danger">formato de email no valido </samp>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control mb-" placeholder="Password" formControlName="password">
        <samp *ngIf="regitrarUsuario.get('password')?.hasError('required') && regitrarUsuario.get('password')?.touched" class="text-danger">contraseña requerida</samp>
        <samp *ngIf="regitrarUsuario.get('password')?.hasError('minlength') && regitrarUsuario.get('password')?.touched" class="text-danger">minimo 6 caracteres</samp>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Repeat password</label>
        <input type="password" class="form-control mb-" placeholder="Password" formControlName="repPassword">
        <samp *ngIf="regitrarUsuario.value.password!=regitrarUsuario.value.repPassword && regitrarUsuario.get('repPassword')?.touched" class="text-danger">las contraseñas deben coincidir</samp>
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Phone</label>
        <input type="tel" class="form-control mb-" placeholder="Phone" formControlName="phone">
        <samp *ngIf="regitrarUsuario.get('Phone')?.hasError('required') && regitrarUsuario.get('Phone')?.touched" class="text-danger">Telefono requerido</samp>
      </div>


      <button type="submit" [disabled]="regitrarUsuario.invalid" class="btn btn-primary btn-lg log-btn">Registrar</button>


    </form>
    <a [routerLink]="['/singin']">volver</a>



  </div>
  <ng-template #loadBlock>
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </ng-template>


</div>