<head>
    <title>Preguntas Frecuentes</title>
</head>

<body>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        ¿Es este sitio sobre reservación de salas de cine?
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    No. Este sitio web renta películas al estilo Blockbuster. Tenemos una gran variedad de películas
                    disponibles de todos los géneros para que usted pueda disfrutar con ayuda de Peliculiando.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ¿Qué películas tienen registradas?
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Prácticamente cualquier película que pueda imaginar, y también las que no imagine. ¡Pero no se preocue! Nos hemos encargado de filtrar el contenido para hacerlo lo más Family-Friendly posible y evitar sorpresas desagradables.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ¿Cómo los puedo contactar?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Tenemos una página especialmente dedicada a que conozcas al equipo de desarrolladores y con un formulario de contacto donde podrás enviarnos tus quejas, sugerencias, consultas o dejarnos un mensaje. Además, dicha página cuenta con un sistema de accesibilidad web para ayudar a nuestros visitantes.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        ¿Por cuánto tiempo puedo rentar una película?
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    En Peliculiando permitimos que nuestros clientes reserven sus películas por periodos de tiempo muy extensos, pero toma en consideración que a más tiempo rentado más caro será.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        ¿Tienen aplicación para celular?
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    Así es. Peliculiando cuenta con su propia aplicación móvil con ayuda de la tecnología de PWA. Para obtener esta aplicación es tan sencillo como entrar a nuestro sitio web desde tu navegador en tu dispositivo móvil e instalar la aplicación cuando aparezca el mensaje de ayuda en la parte inferior de tu pantalla.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        ¿Esta página es real?
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    Peliculiando es una página totalmente real, y puede hacerte daño. Únicamente se trata de un proyecto universitario.
                </div>
            </div>
        </div>
    </div>
</body>